## Imputing Missing data

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
%matplotlib inline

#### credit approval dataset from UCI Machine Learning Repository
- http://archive.ics.uci.edu/ml/machine-learning-databases/credit-screening/

In [34]:
data = pd.read_csv('./data/crx.data', header=None)
data
# header= None implies column names will be given later

    0      1       2  3  4   5   6     7  8  9   10 11 12     13   14 15
0    b  30.83   0.000  u  g   w   v  1.25  t  t   1  f  g  00202    0  +
1    a  58.67   4.460  u  g   q   h  3.04  t  t   6  f  g  00043  560  +
2    a  24.50   0.500  u  g   q   h  1.50  t  f   0  f  g  00280  824  +
3    b  27.83   1.540  u  g   w   v  3.75  t  t   5  t  g  00100    3  +
4    b  20.17   5.625  u  g   w   v  1.71  t  f   0  f  s  00120    0  +
..  ..    ...     ... .. ..  ..  ..   ... .. ..  .. .. ..    ...  ... ..
685  b  21.08  10.085  y  p   e   h  1.25  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.00  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.00  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.04  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.29  f  f   0  t  g  00000    0  -

[690 rows x 16 columns]

In [35]:
varnames = ['A'+str(s) for s in range(1,17)]
varnames

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'A11',
 'A12',
 'A13',
 'A14',
 'A15',
 'A16']

In [36]:
data.columns = varnames
data

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  00202    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g  00043  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  00280  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  00100    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  00120    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  00260    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  00200  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  00200    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  00280  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g  00000    0   -

[690 rows x 16 columns]

In [37]:
data = data.replace('?', np.nan)
data.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  b  30.83  0.000  u  g  w  v  1.25  t   t    1   f   g  00202    0   +
1  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
2  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
3  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
4  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +

In [38]:
data.dtypes

A1      object
A2      object
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [39]:
# from the above it looks like a2 and a12 are float values but cast as object type
data['A2'] = data['A2'].astype('float64')
data.dtypes

A1      object
A2     float64
A3     float64
A4      object
A5      object
A6      object
A7      object
A8     float64
A9      object
A10     object
A11      int64
A12     object
A13     object
A14     object
A15      int64
A16     object
dtype: object

In [40]:
data['A14'] = data['A14'].astype('float64')
data

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  202.0    0   +
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g   43.0  560   +
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  280.0  824   +
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  100.0    3   +
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  120.0    0   +
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ..
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260.0    0   -
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200.0  394   -
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200.0    1   -
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280.0  750   -
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g    0.0    0   -

[690 rows x 16 columns]

In [27]:
pd.get_dummies(data['A16'])

     +  -
0    1  0
1    1  0
2    1  0
3    1  0
4    1  0
..  .. ..
685  0  1
686  0  1
687  0  1
688  0  1
689  0  1

[690 rows x 2 columns]

In [28]:
data['A17'] = pd.get_dummies(data['A16'])['+']
data

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16,A17
0,b,30.83,0.000,u,g,w,v,1.25,t,t,1,f,g,202.0,0,+,1
1,a,58.67,4.460,u,g,q,h,3.04,t,t,6,f,g,43.0,560,+,1
2,a,24.50,0.500,u,g,q,h,1.50,t,f,0,f,g,280.0,824,+,1
3,b,27.83,1.540,u,g,w,v,3.75,t,t,5,t,g,100.0,3,+,1
4,b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,120.0,0,+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,260.0,0,-,0
686,a,22.67,0.750,u,g,c,v,2.00,f,t,2,t,g,200.0,394,-,0
687,a,25.25,13.500,y,p,ff,ff,2.00,f,t,1,t,g,200.0,1,-,0
688,b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,280.0,750,-,0
689,b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,0.0,0,-,0

In [32]:
data.drop('A16', axis=1, inplace=True)
data

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15  A17
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  202.0    0    1
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g   43.0  560    1
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  280.0  824    1
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  100.0    3    1
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  120.0    0    1
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ...
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260.0    0    0
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200.0  394    0
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200.0    1    0
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280.0  750    0
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g    0.0    0    0

[690 rows x 16 columns]

In [33]:
data = data.rename(columns={'A17':'A16'})
data

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15  A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  202.0    0    1
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g   43.0  560    1
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  280.0  824    1
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  100.0    3    1
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  120.0    0    1
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ...
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260.0    0    0
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200.0  394    0
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200.0    1    0
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280.0  750    0
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g    0.0    0    0

[690 rows x 16 columns]

In [41]:
#### Alternate method to change the columns to numerical type
data['A16'] = data['A16'].map({'+':1, '-':0})
data

    A1     A2      A3 A4 A5  A6  A7    A8 A9 A10  A11 A12 A13    A14  A15  A16
0    b  30.83   0.000  u  g   w   v  1.25  t   t    1   f   g  202.0    0    1
1    a  58.67   4.460  u  g   q   h  3.04  t   t    6   f   g   43.0  560    1
2    a  24.50   0.500  u  g   q   h  1.50  t   f    0   f   g  280.0  824    1
3    b  27.83   1.540  u  g   w   v  3.75  t   t    5   t   g  100.0    3    1
4    b  20.17   5.625  u  g   w   v  1.71  t   f    0   f   s  120.0    0    1
..  ..    ...     ... .. ..  ..  ..   ... ..  ..  ...  ..  ..    ...  ...  ...
685  b  21.08  10.085  y  p   e   h  1.25  f   f    0   f   g  260.0    0    0
686  a  22.67   0.750  u  g   c   v  2.00  f   t    2   t   g  200.0  394    0
687  a  25.25  13.500  y  p  ff  ff  2.00  f   t    1   t   g  200.0    1    0
688  b  17.92   0.205  u  g  aa   v  0.04  f   f    0   f   g  280.0  750    0
689  b  35.00   3.375  u  g   c   h  8.29  f   f    0   t   g    0.0    0    0

[690 rows x 16 columns]

In [42]:
np.random.seed(42)
values = set([np.random.randint(0, len(data)) for p in range(0,100)])
values
# These values are used as indices

{1,
 13,
 14,
 20,
 21,
 34,
 40,
 52,
 58,
 62,
 64,
 71,
 80,
 87,
 91,
 99,
 102,
 105,
 106,
 121,
 128,
 130,
 138,
 156,
 160,
 161,
 166,
 187,
 189,
 191,
 201,
 205,
 214,
 216,
 241,
 243,
 251,
 252,
 269,
 270,
 273,
 276,
 295,
 308,
 313,
 315,
 330,
 337,
 339,
 343,
 345,
 366,
 372,
 379,
 385,
 387,
 389,
 401,
 413,
 427,
 435,
 454,
 455,
 458,
 459,
 461,
 466,
 471,
 474,
 475,
 476,
 484,
 491,
 492,
 498,
 504,
 508,
 510,
 520,
 555,
 560,
 561,
 562,
 564,
 565,
 566,
 592,
 600,
 614,
 646,
 647,
 661,
 663,
 681,
 686}

In [43]:
len(values)

95

### Let's introduce some random missing values in few columns
### A3, A8 A9 A10

In [44]:
for var in ['A3', 'A8', 'A9', 'A10']:
    data.loc[values, var] = np.nan

In [45]:
data.isna().sum()

A1     12
A2     12
A3     95
A4      6
A5      6
A6      9
A7      9
A8     95
A9     95
A10    95
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64

In [46]:
data.to_csv('./data/CreditApprovalUCI.csv', index=False)