In [1]:
import numpy as np
import pandas as pd

### Hierarchial Indexing

In [3]:
data = pd.Series(np.random.randn(9),
              index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,4,5,6,7,8,9]])
data

a  1   -0.675735
   2   -2.974468
   3   -0.412154
b  4    0.886224
   5    1.465988
c  6    0.667866
   7   -0.062437
d  8    0.250441
   9   -0.474022
dtype: float64

In [4]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3, 4, 5, 6, 7, 8, 9]],
           codes=[[0, 0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 2, 3, 4, 5, 6, 7, 8]])

In [5]:
data['b']

4    0.886224
5    1.465988
dtype: float64

In [6]:
data['b':'d']

b  4    0.886224
   5    1.465988
c  6    0.667866
   7   -0.062437
d  8    0.250441
   9   -0.474022
dtype: float64

In [7]:
data.loc['b']

4    0.886224
5    1.465988
dtype: float64

In [8]:
data.loc[:,2]

a   -2.974468
dtype: float64

In [11]:
data.unstack()

,1,2,3,4,5,6,7,8,9
a,-0.675735,-2.974468,-0.412154,NaN,NaN,NaN,NaN,NaN,NaN
b,NaN,NaN,NaN,0.886224,1.465988,NaN,NaN,NaN,NaN
c,NaN,NaN,NaN,NaN,NaN,0.667866,-0.062437,NaN,NaN
d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.250441,-0.474022

In [13]:
data.unstack().stack()

a  1   -0.675735
   2   -2.974468
   3   -0.412154
b  4    0.886224
   5    1.465988
c  6    0.667866
   7   -0.062437
d  8    0.250441
   9   -0.474022
dtype: float64

### Hierarchial Indexing in DataFrame

In [19]:
df = pd.DataFrame(np.arange(12).reshape((3,4)),
                 index=[['a','b','b'],[1,2,1]],
                 columns=[['Maha','Kar','Maha','Kar'],[1,2,1,2]])
df

    Maha Kar Maha Kar
       1   2    1   2
a 1    0   1    2   3
b 2    4   5    6   7
  1    8   9   10  11

In [20]:
df.index.names

FrozenList([None, None])

In [21]:
df.index.names=['key1','key2']

In [22]:
df.columns.names=['state','key3']

In [23]:
df

state     Maha Kar Maha Kar
key3         1   2    1   2
key1 key2
a    1       0   1    2   3
b    2       4   5    6   7
     1       8   9   10  11

In [24]:
df['Maha']

key3       1   1
key1 key2
a    1     0   2
b    2     4   6
     1     8  10

### Reordering and Sorting