In [2]:
import numpy as np
import pandas as pd

### Series

#### Every Series has a default Index and Values

In [3]:
obj = pd.Series([1,-4,8,-3])
obj

0    1
1   -4
2    8
3   -3
dtype: int64

In [4]:
obj.values

array([ 1, -4,  8, -3], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
index_list = ['a','b','c','d']
index_list

['a', 'b', 'c', 'd']

### adding custom index values

In [7]:
obj = pd.Series([1,-4,6,-9], index_list)
obj

a    1
b   -4
c    6
d   -9
dtype: int64

In [8]:
obj['a']

1

In [9]:
obj[['a','b','c']]

a    1
b   -4
c    6
dtype: int64

In [10]:
obj[obj>0]

a    1
c    6
dtype: int64

In [11]:
obj*3

a     3
b   -12
c    18
d   -27
dtype: int64

In [12]:
'a' in obj

True

In [13]:
'e' in obj

False

### creating series from python dict

In [14]:
data = {'a':10, 'b':-28, 'c':46}
data

{'a': 10, 'b': -28, 'c': 46}

In [15]:
pd.Series(data)

a    10
b   -28
c    46
dtype: int64

In [16]:
data = {'b':10, 'c':-28, 'a':46}
data

{'b': 10, 'c': -28, 'a': 46}

### if you want indexes to be arranged in given order

In [17]:
obj1 = pd.Series(data, index=['a','b','c'])
obj1

a    46
b    10
c   -28
dtype: int64

### d value is not given hence its NaN

In [18]:
obj2 = pd.Series(data, index=['a','b','d'])
obj2

a    46.0
b    10.0
d     NaN
dtype: float64

### Finding the null values in a series

In [19]:
pd.isnull(obj2)

a    False
b    False
d     True
dtype: bool

In [20]:
pd.notnull(obj2)

a     True
b     True
d    False
dtype: bool

In [21]:
obj2.isnull()

a    False
b    False
d     True
dtype: bool

In [22]:
obj1

a    46
b    10
c   -28
dtype: int64

In [23]:
obj

a    1
b   -4
c    6
d   -9
dtype: int64

### adding the series

In [24]:
obj + obj1

a    47.0
b     6.0
c   -22.0
d     NaN
dtype: float64

In [25]:
obj.name='char'
obj.index.name='value'

In [26]:
obj

value
a    1
b   -4
c    6
d   -9
Name: char, dtype: int64

### chaning the index in place

In [27]:
obj.index=['alan','bob','cathy','donald']

In [28]:
obj

alan      1
bob      -4
cathy     6
donald   -9
Name: char, dtype: int64

### index objects are immutable

In [29]:
obj = pd.Series(np.arange(3), index=['a','b','c'])
obj

a    0
b    1
c    2
dtype: int32

In [30]:
obj['a']

0

In [31]:
obj.index

Index(['a', 'b', 'c'], dtype='object')

In [33]:
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [34]:
index[0]

'a'

### index is immutable

In [35]:
index[0] = 'd'

TypeError: Index does not support mutable operations

In [41]:
labels = pd.Index([1,2,3])

In [42]:
obj = pd.Series(['a','b','c'], index=labels)
obj

1    a
2    b
3    c
dtype: object

In [37]:
pd.Index(np.arange(3))

Int64Index([0, 1, 2], dtype='int64')

In [43]:
obj.index is labels

True

In [44]:
obj.index

Int64Index([1, 2, 3], dtype='int64')

### labels can be duplicate

In [45]:
dup_labels = pd.Index(['a','a','b','b'])
dup_labels

Index(['a', 'a', 'b', 'b'], dtype='object')