In [1]:
import numpy as np

### creation of a numpy ndarray, 1D array

In [17]:
arr = np.array([1,2,3])
arr

array([1, 2, 3])

### shape of the arr

In [3]:
arr.shape

(3,)

### gives the total elements of the array

In [18]:
arr.size

3

### data type of the array elements

In [19]:
arr.dtype

dtype('int32')

### dimensions of the array

In [20]:
arr.ndim

1

### 2D array creation

In [21]:
arr2d = np.array([[1,2,3],[4,5,6]])
arr2d

array([[1, 2, 3],
       [4, 5, 6]])

In [7]:
arr2d.shape

(2, 3)

In [8]:
arr2d.size

6

In [22]:
arr2d.dtype

dtype('int32')

### dimensions of the given array

In [25]:
arr2d.ndim

2

### array with a given data type

In [10]:
arr = np.array([1,2,3], dtype='float64')
arr

array([1., 2., 3.])

In [11]:
arr.dtype

dtype('float64')

In [14]:
arr.size

3

### array creation from a list

In [15]:
data = [1,2,3]
arr = np.array(data)
arr

array([1, 2, 3])

In [16]:
data

[1, 2, 3]

### empty array creation
#### this is usually filled with random numbers

In [27]:
arr_empty = np.empty((3,4), dtype='int64')
arr_empty

array([[      2605930200760,                  64,                   0,
                          0],
       [       137438953472, 3617572897594368355, 3979272461063764323,
        7076618887166846053],
       [7005693596090262883, 4062585944597082723, 4050762710645027129,
        7161958383307809121]], dtype=int64)

In [29]:
arr_empty.shape

(3, 4)

In [30]:
arr_empty.size

12

In [31]:
arr_empty.ndim

2

### ndarray creation filled with zeros

In [32]:
arr_zeros = np.zeros((2,3), dtype='float32')
arr_zeros

array([[0., 0., 0.],
       [0., 0., 0.]], dtype=float32)

In [33]:
arr_zeros.shape

(2, 3)

In [34]:
arr_zeros.size

6

In [35]:
arr_zeros.ndim

2

### array creation filled with ones, as initial values

In [37]:
arr_ones = np.ones((2,1), dtype='int16')
arr_ones

array([[1],
       [1]], dtype=int16)

In [38]:
arr_ones.shape

(2, 1)

In [39]:
arr_ones.size

2

In [40]:
arr_ones.ndim

2

### array creation with a range
#### numpy has arange() function for that

In [41]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [42]:
arr.ndim

1

In [43]:
arr.dtype

dtype('int32')

### creating identity matrix, using identity and eye of numpy

In [44]:
arr_iden = np.identity(4)
arr_iden

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [45]:
arr_eye = np.eye(4)
arr_eye

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

### creating an array with a predefined values

In [47]:
arr_pre = np.full((3,4), fill_value=10, dtype='int64')
arr_pre

array([[10, 10, 10, 10],
       [10, 10, 10, 10],
       [10, 10, 10, 10]], dtype=int64)

### creating an array from an already exisiting array structure

#### assume we want array to be like arr_pre but filled with ones, zeros, and empty(garbage value)

### zeros array from pre_defined

In [49]:
arr = np.zeros_like(arr_pre)
arr

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]], dtype=int64)

### ones array from pre_defined

In [50]:
arr = np.ones_like(arr_pre)
arr

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]], dtype=int64)

### empty array from the pre_defined

#### empty array may not always return zero

In [51]:
arr = np.empty_like(arr_pre)
arr

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]], dtype=int64)

### converting an array data type to another

In [53]:
arr = np.array([1,2,3], dtype='int32')
arr

array([1, 2, 3])

In [54]:
arr_float = arr.astype(np.float32)
arr_float

array([1., 2., 3.], dtype=float32)

In [59]:
str_arr = np.array(['1.23','23.45','56.54'], dtype='S10')
str_arr

array([b'1.23', b'23.45', b'56.54'], dtype='|S10')

In [60]:
numeric_arr = str_arr.astype(np.float64)
numeric_arr

array([ 1.23, 23.45, 56.54])

In [61]:
numeric_arr.dtype

dtype('float64')

In [62]:
str_arr = np.array(['python','23.45','56.54'], dtype='S10')
str_arr

array([b'python', b'23.45', b'56.54'], dtype='|S10')

In [63]:
numeric_arr = str_arr.astype(np.float64)
numeric_arr

ValueError: could not convert string to float: 'python'

### above example you get valueError if the value cannot be converted to the given type